body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dbd8d7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  padding: 2em;
}
.header {
  text-align: left;
}
input {
  padding: 8px 10px;
  border-radius: 8px;
  border: 0.8px solid rgb(145, 92, 182);
  width: 30px;
  height: 22px;
  line-height: 1.65;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  /* background-color: transparent; */
  color: rgba(255, 255, 255, 0.8);
  background: rgb(145, 92, 182);
  font-weight: bold;
  text-transform: uppercase;
}
li {
  list-style: none;
}
.CakeView,
.IcecreamView,
.UserView {
  outline: 1px solid black;
  padding: 2em;
  width: 70%;
  max-width: 600px;
}
